**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/out
**/.idea
**/node_modules
**/*.user
**/*.suo
**/TestResults
**/test-results
**/coverage
**/.env
**/docker-compose.override.yml
**/docker-compose.yml
README.md
Dockerfile
.dockerignore
infra/
.github/